<!-- about.html.erb -->
<div id="wrapper">
	<h1 style="text-align: center;">Locality Real Estate</h1>
	<hr>
	<p style="text-align: center;">This project was built by my team member that study in Devbootstrap Q1 cohort 2016</p><br>
	<p style="text-align: center;">We can create Rails application call Locality Real Estate. In this application have some feature like: </p><br>
	<ol style="margin-left: 20%;">
		<li>Can publish your property with your details</li>
		<li>Can show property that you create</li>
		<li>Can login to edit your property</li>
	</ol>
	<hr>
		<div class="team">
		<ul>
			<li style="float: left;">
				<%=image_tag("darren.jpg")%>
				<strong>Darren</strong>
				<span>Lecturer</span>
			</li>
			<li style="float: left;">
				<%=image_tag("bunna.JPG")%>
				<strong><%= link_to "Bunna", "https://www.facebook.com/bunna.kal.1" %></strong>
				<span>Team member</span>
			</li>
			<li style="float: left;">
				<%=image_tag("makara.jpg")%>
				<strong><%= link_to "Makara", "https://www.facebook.com/Manmakara" %></strong>
				<span>Team member</span>
			</li>
		</ul>
		</div>
		<hr>
	<br>
</div>